/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: #311B92;
  --clr-primary-2: #311B92;
  --clr-primary-3: #512DA8;
  --clr-primary-4: #5E35B1;
  /* primary/main color */
  --clr-primary-5: #7E57C2;
  /* lighter shades of primary color */
  --clr-primary-6: #9575CD;
  --clr-primary-7: #7C4DFF;
  --clr-primary-8: #B39DDB;
  --clr-primary-9: #D1C4E9;
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px; }

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary); }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 0.875rem; }

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5); }

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 2.5rem; }
  h3 {
    font-size: 1.75rem; }
  h4 {
    font-size: 1rem; }
  body {
    font-size: 1rem; }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1; } }

/*  global classes */
.my-btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0 0.5rem;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius); }
  .my-btn:hover {
    color: var(--clr-primary-5);
    background: #eee;
    border-color: var(--clr-primary-5); }
  .my-btn.large {
    padding: 0.375rem 0.75rem; }

.input {
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border: var(--clr-grey-7) solid 2px; }

.display-none {
  display: none !important; }

.block {
  display: block !important; }

.flex {
  display: flex !important; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }

/* 
*	Banners
*/
.info,
.success,
.warning,
.error,
.validation {
  position: relative;
  border: 1px solid;
  border-radius: 4px;
  padding: 0.2rem 2rem; }
  .info::before,
  .success::before,
  .warning::before,
  .error::before,
  .validation::before {
    content: "";
    height: 100%;
    width: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #acb;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }

.info {
  color: #00529b;
  background-color: #bde5f8; }
  .info::before {
    background-color: #00529b; }

.success {
  color: #4f8a10;
  background-color: #dff2bf; }
  .success::before {
    background-color: #4f8a10; }

.warning {
  color: #9f6000;
  background-color: #feefb3; }
  .warning::before {
    background-color: #9f6000; }

.error {
  color: #d8000c;
  background-color: #ffbaba; }
  .error::before {
    background-color: #d8000c; }

.validation {
  color: #d63301;
  background-color: #ffccba; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  background-size: cover !important;
  background: linear-gradient(-45deg, rgba(52, 30, 248, 0.15) 0%, rgba(89, 3, 146, 0.25) 50%, rgba(53, 1, 105, 0.35) 100%), url(../static/bg.jpg) no-repeat center center scroll; }
  .masthead > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    row-gap: 2rem;
    background-color: #eee;
    border-radius: 1rem;
    padding: 1.5rem; }
    .masthead > div > form {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1rem; }

.layout {
  width: 100vw;
  height: 100vh;
  display: flex; }
  .layout aside {
    width: 300px;
    height: 100%;
    border-right: black 2px solid; }
    .layout aside ul {
      width: 100%; }
      .layout aside ul li {
        width: 100%;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.75rem 1rem;
        border-bottom: black 1px solid;
        cursor: pointer; }
        .layout aside ul li.selected {
          background-color: #303F9F;
          color: white; }
        .layout aside ul li:hover {
          background-color: #8C9EFF; }
  .layout main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; }
    .layout main > header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.5rem;
      width: 100%;
      padding: 1rem;
      border-bottom: black 2px solid; }
      .layout main > header #search-bar {
        width: 60%;
        border: #49a6e9 1px solid;
        font-size: 1rem;
        padding: 0.25rem 1rem;
        border-radius: 2rem;
        margin: 0.25rem; }
    .layout main #message-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      height: 100%;
      width: 100%;
      overflow-y: auto;
      margin-bottom: 3rem;
      padding: 1rem; }
      .layout main #message-wrapper .message {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%; }
        .layout main #message-wrapper .message .avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          width: 10rem;
          border-radius: 100rem;
          background-color: white; }
        .layout main #message-wrapper .message .message-text {
          flex-grow: 1;
          background-color: white;
          border-radius: 8px;
          padding: 1rem; }
    .layout main #message-input {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      height: 3rem;
      padding: 0 1rem;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px); }
      .layout main #message-input input[type="text"] {
        border: none;
        height: 100%;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 0.25rem;
        flex-grow: 1; }
        .layout main #message-input input[type="text"]:focus {
          outline: blue 1px solid; }
